<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <style>
            * {
                font-family: Comic Sans MS, cursive, sans-serif;
            }

            h1, h2, p {
                color: #FFF;
            }

            h2 {
                font-size: 45px;
                font-family: Arial, sans-serif;
                padding: 50px;
            }

            p {
                font-size: 25px;
                font-style: italic;
            }

            .jumbotron {
                background-color: black;
                background-size: cover;
                min-height: 500px;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Got writer's block?</hl>
            <p>Try out this random idea generator</p>
            <form action="/" method="POST" class="form-inline">
                <div class="form-group">
                    <name="name">
                </div>
                <input type="submit" class="btn btn-secondary btn-large" value="Refresh">
            </form>
            <h2><%= @generator %></h2>
        </div>
    </body>
</html>